<div class="well">
  <h1>Here is player one's cards</h1>
  <h3>
#foreach ($card in $playerOneCards)

#end
    </h3>

#foreach($card in $gameDeck)
$card.getValue()
$card.getClass()
$card.name()
#end
</div>
<br>
<div>
<button class=btn btn-danger><a href="/">Home</a></button>
</div>

$testcard.name()
